<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Animadora de Eventos</h1>  <h3>  (2011-2013)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Fotografa Social</h1>  <h3>  (2013-2015)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Administracion y Diseño en Grafica Corporea</h1>  <h3>  (2015-2021)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Asesora Telefonica para Prisma Medios de Pagos</h1>  <h3>  (2021-actualmente)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
</div>
