<div class="row">
    <h1>Formación Academica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Bachillerato con orientación pedagógica en ENS 67</h1>  <h3>  (2008-2013)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Ingeniería Química en UTN</h1>  <h3>  (2014-actualmente)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Introducción a la Programación por Informatorio</h1>  <h3>  (2020)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Introducción a la Programación orientada al desarrollo de video juegos en PIXEL LAB</h1>  <h3>  (2022)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Couch Ontologico Profesional en AXON </h1>  <h3>  (2023)</h3></li> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quia reprehenderit quaerat alias perferendis suscipit architecto facilis iste doloremque. Deleniti impedit exercitationem incidunt ipsa dolorem dolor illo enim consectetur laborum.</p>
                </ul>
    </div>
</div>
