<div class="row">
    <div class ="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto de perfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy una joven Full Stack Developer Jr. con habilidades en Couch Ontológica, Asesoría Telefónica y Diseño Digital Amateur. Poseo conocimientos en el desarrollo de aplicaciones web utilizando lenguajes de programación como Python, JavaScript, HTML y CSS, y experiencia en la implementación de bases de datos MySQL y MongoDB. Mi experiencia en Asesoría Telefónica me ha ayudado a desarrollar habilidades de comunicación efectiva y empatía con el cliente y/o consumidor. Además, como Diseñadora Digital Amateur, he adquirido habilidades en diseño gráfico y de interfaz de usuario que complementan mi perfil de desarrolladora.</p>
        </span>
    </div>
 
    </div>


